<!-- Div que envolve todo o conteúdo do chat -->
<div class="container">
  <!-- Título do chat -->
  <h2></h2>

  <!-- Campo de entrada de texto e botão de envio -->
  <div class="input-group mt-3">
    <button id="cartButton" class="btn btn-primary" onclick="window.location.href='/cart'">
      Carrinho
    </button>
    <div class="input-group-append">
      <button id="loadProductsButton" class="btn btn-primary">Load Products</button>
      <button id="loadUsersButton" class="btn btn-primary">Load Users</button>
      <div class="input-group-append">
        <button id="loginButton" class="btn btn-primary" onclick="window.location.href='/login'">Login</button>
        <button id="logoutButton" class="btn btn-primary"
          onclick="window.location.href='/api/users/logout'">Logout</button>
        <button id="resetPasswordButton" class="btn btn-primary" onclick="window.location.href='/reset-password'">Reset
          Password</button>
        <button id="registerButton" class="btn btn-primary" onclick="window.location.href='/register'">Register</button>
      </div>
    </div>
    <!-- Card para exibir os produtos -->
    <div class="card mb-3">
      <div class="card-header">
        Produtos
      </div>
      <div class="products-body" id="productsCard">
        <!-- Lista de produtos -->
        <div id="productsList" class="list-group list-group-flush"></div>
      </div>
    </div>

    <!-- Card para exibir os usuários -->
    <div class="card">
      <div class="card-header">
        Usuários
      </div>
      <div class="users-body" id="usersCard">
        <!-- Lista de usuários -->
        <ul id="usersList"></ul>
      </div>
    </div>
  </div>

  <!-- Inclusão do script do Socket.IO -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/homeScript.js"></script>